<%- include header %>
<form method="post">
  Title:</br>
  <input type="text" name="title"></input></br>
  Article:</br>
  <textarea name="post" rows="20" cols="100" ></textarea></br>
  <input type="submit" value="发表"></input>
</form>
<%- include footer %>
