<%- include header %>
<form method="post">
UserName:<input type="text" name="name"></input></br>
Password:<input type="text" name="password"></input></br>
Confirm Password:<input type="text" name="password-repeat"></input></br
>
Email:<input type="text" name="email"></input></br>
<input type="submit" value="Submit"/>
</form>
<%- include footer %>
